@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0 15px;
  background: #eaeaea;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: justify;
}

h1 {
  font-size: 34px;
  font-weight: 400;
}

h2 {
  border-top: 1px solid #2b2b2b;
  font-size: 24px;
  font-weight: 400;
  padding-top: 15px;
}

h3 {
  font-weight: 400;
}
